@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@font-face {
  font-family: "Atmo";
  src: url(../fonts/atmos/aAtmospheric.ttf) format("truetype");
}
/* Listas colores*/
header {
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}

footer div .marca .marca-propia, footer div .marca, footer div .info, footer div .redes .logotf .logot, footer div .redes .logotf, footer div .redes, footer div .foot .ayuda, .mainer .segundo-sec .form, main section .contenedor-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .contenedor-us .titulo {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
}

.containeer .prod .proc-conte .prode .prod-txt .precc {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: 300;
}

/*@mixin insane ($border, $color){
    border: $border;
    color: $color;
*/
body {
  background-color: #1d201f;
}

header {
  background-color: #0C0F0A;
}
header .naver {
  background-color: #0C0F0A;
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}
@media only screen and (min-width: 993px) {
  header .naver {
    background-color: #0C0F0A;
    border-top: 2px solid #00A676;
    border-bottom: 2px solid #00A676;
  }
}
header .naver .logo {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
@media only screen and (min-width: 993px) {
  header .naver .logo:hover {
    transform: rotate(-360deg);
    transition: 1s;
  }
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  header .naver .logo {
    width: 60px;
    height: 60px;
  }
}
header .naver .name {
  margin-right: 0 !important;
  color: #DDD5D0;
  font-family: "atmo", sans-serif;
  font-size: 40px;
  text-shadow: 0px 6px 3px rgba(134, 134, 134, 0.67);
}
header .naver .name::first-letter {
  color: #00A676;
  font-size: 50px;
  font-stretch: condensed;
}
header .naver .name:hover {
  color: #00A676;
}
@media only screen and (min-width: 993px) {
  header .naver .name {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  header .naver .name {
    font-size: 20px;
    text-shadow: 0px 6px 3px rgba(134, 134, 134, 0.67);
  }
  header .naver .name::first-letter {
    font-size: 35px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  header .naver .navbar-toggler {
    border: #00A676;
  }
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  header .naver .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,166,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}
header .naver .navitems {
  color: #DDD5D0;
  background-color: #0C0F0A;
}
@media only screen and (min-width: 993px) {
  header .naver .navitems {
    justify-content: right;
    font-size: 25px;
    background-color: #0C0F0A;
  }
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  header .naver .navitems {
    justify-content: right;
    font-size: 20px;
  }
}
header .naver .navitems .navname {
  color: #DDD5D0 !important;
  font-family: "Montserrat";
  font-style: 500;
  font-size: 25px;
}
header .naver .navitems .navname:hover {
  color: #00A676 !important;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  header .naver .navitems .navname {
    font-family: "Montserrat";
    font-style: 500;
    font-size: 20px;
  }
}
header .naver .navitems .listw:hover {
  color: #00A676;
}
header .naver .navitems .cuadro {
  border: 2px outset #00A676;
}

@font-face {
  font-family: "Atmo";
  src: url(../fonts/atmos/aAtmospheric.ttf) format("truetype");
}
/* Listas colores*/
header {
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}

footer div .marca .marca-propia, footer div .marca, footer div .info, footer div .redes .logotf .logot, footer div .redes .logotf, footer div .redes, footer div .foot .ayuda, .mainer .segundo-sec .form, main section .contenedor-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .contenedor-us .titulo {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
}

.containeer .prod .proc-conte .prode .prod-txt .precc {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: 300;
}

/*@mixin insane ($border, $color){
    border: $border;
    color: $color;
*/
.containeer {
  padding: 50px 0;
  text-align: center;
}
.containeer .reco {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
  color: #DDD5D0;
  line-height: 0.1rem;
  border-bottom: 2px solid #00d99a;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  .containeer .reco {
    font-size: 20px;
  }
}
.containeer .reco span {
  padding: 0 1rem;
  background-color: #1d201f;
}
.containeer .prod {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: center;
}
.containeer .prod .proc-conte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media only screen and (min-width: 993px) and (max-width: 1386px) {
  .containeer .prod .proc-conte {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  .containeer .prod .proc-conte {
    grid-template-columns: repeat(1, 2fr);
    gap: 50px;
  }
}
.containeer .prod .proc-conte .prode {
  text-align: center;
  padding: 30px;
  width: 410px;
  cursor: pointer;
}
@media only screen and (min-width: 993px) and (max-width: 1383px) {
  .containeer .prod .proc-conte .prode {
    width: 390px;
    height: auto;
  }
}
@media only screen and (max-width: 830px) and (min-width: 433px) {
  .containeer .prod .proc-conte .prode {
    width: 360px;
  }
}
@media only screen and (max-width: 433px) {
  .containeer .prod .proc-conte .prode {
    width: 260px;
  }
}
.containeer .prod .proc-conte .prode .fotoo {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 10px #DDD5D0);
}
.containeer .prod .proc-conte .prode .fotoo:hover {
  transform: scale(1.09);
  transition: 1s;
  border-radius: 10px;
}
@media only screen and (min-width: 993px) and (max-width: 1386px) {
  .containeer .prod .proc-conte .prode .fotoo {
    width: 330px;
    height: auto;
  }
}
@media only screen and (max-width: 830px) and (min-width: 433px) {
  .containeer .prod .proc-conte .prode .fotoo {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 433px) {
  .containeer .prod .proc-conte .prode .fotoo {
    width: 200px;
    height: 200px;
  }
}
.containeer .prod .proc-conte .prode .prod-txt {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid #00A676;
  border-right: 1px solid #00A676;
}
.containeer .prod .proc-conte .prode .prod-txt .prod-name {
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
  color: #DDD5D0;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  .containeer .prod .proc-conte .prode .prod-txt .prod-name {
    font-size: 20px;
  }
}
.containeer .prod .proc-conte .prode .prod-txt .precc {
  filter: drop-shadow(0px 0px 10px #00A676);
  text-align: center;
  color: #00A676;
}

@font-face {
  font-family: "Atmo";
  src: url(../fonts/atmos/aAtmospheric.ttf) format("truetype");
}
/* Listas colores*/
header {
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}

footer div .marca .marca-propia, footer div .marca, footer div .info, footer div .redes .logotf .logot, footer div .redes .logotf, footer div .redes, footer div .foot .ayuda, .mainer .segundo-sec .form, main section .contenedor-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .contenedor-us .titulo {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
}

.containeer .prod .proc-conte .prode .prod-txt .precc {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: 300;
}

/*@mixin insane ($border, $color){
    border: $border;
    color: $color;
*/
main section .contenedor-us {
  color: #DDD5D0;
  flex-direction: column;
  height: 100%;
  margin-top: 5px;
}
main section .contenedor-us .titulo {
  color: #DDD5D0;
  padding: 15px 0;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  main section .contenedor-us .titulo {
    font-size: 25px;
  }
}
main section .contenedor-us .texton {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: 300;
  font-size: 20px;
}
main section .contenedor-us .texton .bienvenido .tf {
  color: #00A676;
}

.mainer .primer-sec .ubi {
  text-align: center;
  color: #DDD5D0;
  padding-top: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  .mainer .primer-sec .ubi {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: 500;
  }
}
.mainer .primer-sec .contenedor-map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainer .primer-sec .contenedor-map .map {
  display: grid;
  grid-template-rows: repeat(1, auto);
  width: 50%;
}
@media only screen and (min-width: 609px) and (max-width: 993px) {
  .mainer .primer-sec .contenedor-map .map {
    width: 50%;
  }
}
@media only screen and (max-width: 609px) and (min-width: 320px) {
  .mainer .primer-sec .contenedor-map .map {
    width: 80%;
  }
}
.mainer .primer-sec .contenedor-map .map .mapa {
  width: 100%;
  border: 3px solid #00A676;
}
.mainer .segundo-sec {
  padding-bottom: 25px;
}
.mainer .segundo-sec .form .colm {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  width: 60%;
  height: 300px;
}
.mainer .segundo-sec .form .colm .contact {
  color: #DDD5D0;
  text-align: center;
  padding-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  .mainer .segundo-sec .form .colm .contact {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: 500;
  }
}
.mainer .segundo-sec .form .colm .contact .nombre .mail .formmsg {
  border: 2px solid #00A676;
}
.mainer .segundo-sec .form .formcont .form-input {
  color: #DDD5D0;
  background-color: #0C0F0A;
}
.mainer .segundo-sec .form .contb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainer .segundo-sec .form .contb .formcta {
  border: 2px solid #00A676;
  color: #DDD5D0;
  background-color: #0C0F0A;
  width: 80px;
  height: 40px;
  text-align: center;
}

@font-face {
  font-family: "Atmo";
  src: url(../fonts/atmos/aAtmospheric.ttf) format("truetype");
}
/* Listas colores*/
header {
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}

footer div .marca .marca-propia, footer div .marca, footer div .info, footer div .redes .logotf .logot, footer div .redes .logotf, footer div .redes, footer div .foot .ayuda, main section .contenedor-us, .mainer .segundo-sec .form {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .contenedor-us .titulo {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
}

.containeer .prod .proc-conte .prode .prod-txt .precc {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: 300;
}

/*@mixin insane ($border, $color){
    border: $border;
    color: $color;
*/
footer {
  background-color: #0C0F0A;
  border-top: 2px solid #00A676;
}
footer div .foot {
  display: flex;
  justify-content: space-evenly;
}
footer div .foot .ayuda {
  flex-direction: column;
  text-align: center;
  width: 300px;
}
footer div .foot .ayuda .footnav {
  list-style: none;
  text-decoration: none;
  padding: 0px;
}
footer div .foot .ayuda .footnav li {
  padding: 10px 0;
}
footer div .foot .ayuda .footnav .textf {
  list-style: none;
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  footer div .foot .ayuda .footnav .textf {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: 500;
  }
}
footer div .foot .ayuda .footnav .textn {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
  color: #DDD5D0;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  footer div .foot .ayuda .footnav .textn {
    font-family: "Montserrat";
    font-size: 30px;
    font-style: 500;
  }
}
footer div .foot .ayuda .footnav .textn:hover {
  color: #00A676;
}
footer div .redes {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 385px;
}
footer div .redes .logosred {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 250px;
}
footer div .redes .logosred .red {
  height: 40px;
  width: 40px;
}
@media only screen and (min-width: 993px) {
  footer div .redes .logosred .red:hover {
    transform: scale(1.5);
    transition: 2s;
  }
}
footer div .redes .logosred .i {
  margin: 0px 10px 0px 10px;
  margin-top: 40px;
}
footer div .redes .logosred .t {
  margin: 0px 10px 0px 10px;
  margin-top: 40px;
}
footer div .redes .logosred .l {
  margin: 0px 10px 0px 10px;
}
footer div .redes .logotf {
  padding-top: 20px;
}
footer div .redes .logotf .logot {
  width: 100px;
  height: 100px;
  padding-top: 5px;
}
@media only screen and (min-width: 993px) {
  footer div .redes .logotf .logot:hover {
    transform: rotate(-360deg);
    transition: 1s;
  }
}
footer div .info {
  flex-direction: column;
  margin-top: 10px;
  width: 300px;
}
footer div .info .textf {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: 500;
  font-size: 35px;
}
footer div .info #info {
  cursor: default;
}
footer div .info .infof {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
  color: #DDD5D0;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  footer div .info .infof {
    font-family: "Montserrat";
    font-size: 30px;
    font-style: 500;
  }
}
footer div .info .infotf {
  font-family: "Montserrat";
  font-style: 500;
  font-size: 35px;
  display: block;
  width: 300px;
  cursor: default;
}
footer div .info .infotf .contacte {
  display: flex;
  text-align: center;
  font-family: "Montserrat";
  font-style: 300;
  font-size: 20px;
  color: #DDD5D0;
}
@media only screen and (min-width: 320px) and (max-width: 993px) {
  footer div .info .infotf .contacte {
    font-family: "Montserrat";
    font-size: 15px;
    font-style: 500;
  }
}
footer div .marca {
  height: 25px;
  background-color: #00A676;
}
footer div .marca .marca-propia {
  font-family: "Montserrat";
  font-style: 500;
  font-size: 15px;
}

@font-face {
  font-family: "Atmo";
  src: url(../fonts/atmos/aAtmospheric.ttf) format("truetype");
}
/* Listas colores*/
header {
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}

main section .contenedor-us, .mainer .segundo-sec .form, footer div .foot .ayuda, footer div .redes, footer div .redes .logotf, footer div .redes .logotf .logot, footer div .info, footer div .marca, footer div .marca .marca-propia {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .contenedor-us .titulo {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
}

.containeer .prod .proc-conte .prode .prod-txt .precc {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: 300;
}

/*@mixin insane ($border, $color){
    border: $border;
    color: $color;
*/
section div div .banner {
  object-fit: fill;
  height: 558px auto;
}

@font-face {
  font-family: "Atmo";
  src: url(../fonts/atmos/aAtmospheric.ttf) format("truetype");
}
/* Listas colores*/
header {
  border-top: 2px solid #00A676;
  border-bottom: 2px solid #00A676;
}

main section .contenedor-us, .mainer .segundo-sec .form, footer div .foot .ayuda, footer div .redes, footer div .redes .logotf, footer div .redes .logotf .logot, footer div .info, footer div .marca, footer div .marca .marca-propia {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .contenedor-us .titulo {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: 500;
}

.containeer .prod .proc-conte .prode .prod-txt .precc {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: 300;
}

/*@mixin insane ($border, $color){
    border: $border;
    color: $color;
*/

/*# sourceMappingURL=style.css.map */
