/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@font-face {
    font-family: "atmo";
    src: url(../fuentes/aAtmospheric.ttf) format("truetype");
}

/*
font-family: 'Montserrat', sans-serif; 
font-family: 'atmo', sans-serif;
*/

/* Fin fuentes */

/* Personalizacion txt */

.name {
    font-family: "atmo", sans-serif;
    color: #DDD5D0;
    font-size: 40px;
}

.navname {
    font-family: 'Montserrat', sans-serif; 
    font-style: 500;
    color: #DDD5D0;
    font-size: 25px;
}

.textn {
    font-family: 'Montserrat', sans-serif;
    font-style: 500; 
    font-style: bold;
    color: #DDD5D0;
    font-size: 35px;
}

.reco, .recor, .ubi, .contact, .titulo, .infof{
    font-family: 'Montserrat', sans-serif;
    font-style: 500; 
    color: #DDD5D0;
    font-size: 35px;
}

.contacte {
    font-family: 'Montserrat', sans-serif;
    font-style: 300; 
}

.descripcion {
    font-family: 'Montserrat', sans-serif;
    font-style: 300; 
    color: #DDD5D0;
    font-size: 25px;
}

.precio {
    font-family: 'Montserrat', sans-serif;
    font-style: Light; 
    color: #00A676;
    font-size: 23px;
}

.textf {
    text-decoration: none;
    color: #DDD5D0;
}

.contenedor-us {
    color: #DDD5D0;
}

.texton {
    font-family: 'Montserrat', sans-serif;
    font-style: 300; 
    font-size: 20px;
}

.tf {
    color: #00A676;
}

.form-input {
    font-family: 'Montserrat', sans-serif;
    font-style: 300; 
    color: #DDD5D0;
}

/* Fin personalizacion txt */


/* General */
body {
    background-color: #1D201F;
}

/* Inicio Header */

.name {
    margin-right: 0 !important;
}

.name::first-letter {
    color: #00A676;
    font-size: 50px;
    font-stretch: condensed;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.naver {
    background-color: #0C0F0A;
    border-top: 2px solid #00A676;
    border-bottom: 2px solid #00A676;
}

.navitems {
    color: #DDD5D0;
    background-color:#0C0F0A;
    --bs-navbar-color: #DDD5D0;
    --bs-navbar-hover-color: #DDD5D0;
    --bs-navbar-disabled-color: #DDD5D0;
    --bs-navbar-active-color: #DDD5D0;
    --bs-dropdown-link-color: #DDD5D0;
    --bs-dropdown-link-active-color: #0C0F0A;
    
}
/* Fin Header */

/* Inicio main */

/* Productos */
.reco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.recor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.primera {
    margin-top: 10px !important;
}

.producto {
    max-width: 100%;
    height: auto;
    object-fit: fill;
    border: 2px solid #70798C;
    
}

.descripcion {
    display: block;
    overflow: auto;
    height: 190px;
    object-fit: fill;
}

.precio {
    text-align: center;
    height: 30px;
}

.box {
    border-left: 2px solid #00A676;
    border-bottom: 2px solid #00A676;
    border-right: 2px solid #00A676;
    border-radius: 0px 0px 5px 5px;
    background-color: #0C0F0A;
    max-height: 235px;
}



.contenedor {
    height: 50%;
    width: 90%;
}

.barra {
    border: 2px solid #00A676;
}
/* Fin Productos */

/* Nosotros */
.contenedor-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 5px;
}

.texton {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

/* Fin Nosotros */

/* Contacto */

.ubi {
    text-align: center;
    color: #DDD5D0;
    padding-top: 10px;
}

.contenedor-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {

    display: grid;
    grid-template-rows: repeat(1,auto);
    width: 50%;
}

.mapa {
    width: 100%;
    border: 3px solid #00A676;
}



.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.contact {
    text-align: center;
    padding-top: 20px;
}

.colm {
    display: grid;
    grid-template-rows: repeat(5,auto);
    gap: 10px;
    width: 60%;
    height: 300px;
}

.form-input {
    background-color: #0C0F0A;
    padding: 10px;
}

.contb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcta {
    border: 2px solid #00A676;
    color: #DDD5D0;
    background-color: #0C0F0A;
    width: 80px;
    height: 40px;
    text-align: center;
}

/* Fin Contacto */

/* Fin Main */

/* Inicio Footer */

footer {
    border-top: 2px solid #00A676;
    background-color: #0C0F0A;
}

.foot {
    display: flex;
    justify-content: space-evenly;
}

.ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.footnav {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}



.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 385px;
}
.logosred {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 250px;;
}

.red {
    height: 40px;
    width: 40px; 
}


.i, .l, .t {
    margin-left: 10px;
    margin-right: 10px;
}

.i, .t {
    margin-top: 30px;
}

.logotf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logot {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-top: 5px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 300px;
}

.infotf {
    display: block;
    width: 260px;
}

.infof::first-letter {
    color: #00A676;
}

.contacte {
    display: flex;
    text-align: center;
}

.marca {
    display: flex;
    justify-content: center;
    background-color: #00A676;
    text-align: center;
    height: 25px;
}


/* Fin Footer */



/* Fin General */



/* Inicio Media queries */

@media only screen and (min-width : 993px) {

/* Inicio header */
    .navitems {
        justify-content: right;
    }

    .naver {
        background-color: #0C0F0A;
        border-top: 2px solid #00A676;
        border-bottom: 2px solid #00A676;
    }

    .navitems {
        font-size: 25px;
        color: #DDD5D0;
        background-color:#0C0F0A;
        --bs-navbar-color: #DDD5D0;
        --bs-navbar-hover-color: #DDD5D0;
        --bs-navbar-disabled-color: #DDD5D0;
        --bs-navbar-active-color: #DDD5D0;
        --bs-dropdown-link-color: #DDD5D0;
        --bs-dropdown-link-active-color: #0C0F0A;
        --bs-navbar-toggler-icon-bg: #DDD5D0;
    }

    .producto:hover {
        transform: scale(1.02);
        transition: 0.5s;
        border-top-left-radius: 4%;
        border-top-right-radius: 4%;
        cursor: pointer;
    }

    .logo:hover {
        transform: rotate(-360deg);
        transition: 1s;
    }

    .logot:hover {
        transform: rotate(-360deg);
        transition: 1s;
    }

    .listw:hover {
        color: #00A676 !important;
    }

    .cate:active {
        color: #00A676;
    }

    .red:hover {
        transform: scale(1.5);
        transition: 2s;
    }

    .name:hover {
        color: #00A676;
    }

    .textn:hover {
        color: #00A676;
    }

    .name {
        padding-left: 20px;
        text-shadow: 0px 6px 3px rgba(134,134,134,0.67);
    }
}

/* Fin header */


/* Celulares */

@media only screen and (min-width : 320px) and (max-width : 993px) {

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,166,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: #00A676;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .name {
        font-size: 20px;
        text-shadow: 0px 6px 3px rgba(134,134,134,0.67);
    }

    .name::first-letter {
        font-size: 35px;
        font-weight: 100px;
    }

    .reco, .recor, .ubi, .contact, .titulo {
        font-family: 'Russo One', sans-serif;
        color: #DDD5D0;
        font-size: 25px;
    }

    .descripcion {
        display: block;
        overflow: auto;
        height: 150px;
        object-fit: fill;
        font-size: 20px;
    }

    .precio {
        font-size: 20px;
    }

    .titulo {
        font-size: 35px;
        padding: 15px 0;
    }


    .map {
        width: 90%;
    }
}

/* Fin Header */
