/* Fuentes */

/* Fin fuentes */

/* Personalizacion txt */

.name {
    color: #DDD5D0;
    font-size: 40px;
}

.navname {
    color: #DDD5D0;
    font-size: 25px;
}

.price {
    color: #00A676;
    font-size: 25px;
}

.reco, .recor {
    color: #DDD5D0;
    font-size: 35px;
}

.textf {
    text-decoration: none;
    color: #DDD5D0;
}

.textn {
    font-size: 35px;
}
/* Fin personalizacion txt */


/* General */
body {
    background-color: #1D201F;
}

/* Inicio Header */

.name {
    padding-left: 10px;
}

.name::first-letter {
    color: #00A676;
    font-size: 50px;
    font-stretch: condensed;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.logo:hover {
    transform: rotate(-360deg);
    transition: 1s;
}

.naver {
    background-color: #0C0F0A;
    border-top: 2px solid #00A676;
    border-bottom: 2px solid #00A676;
}

.navitems {
    color: #DDD5D0;
    background-color:#0C0F0A;
    --bs-navbar-color: #DDD5D0;
    --bs-navbar-hover-color: #DDD5D0;
    --bs-navbar-disabled-color: #DDD5D0;
    --bs-navbar-active-color: #DDD5D0;
    --bs-dropdown-link-color: #DDD5D0;
    --bs-dropdown-link-active-color: #0C0F0A;
    
}
/* Fin Header */

/* Inicio main */

.reco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.recor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.primera-fila {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.segunda-fila {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: px;
}

.cardtotal {
    padding-top: 30px;
    padding-bottom: 30px;
}

.boxfoto {
    border: 1px solid #70798C;
}

.imagencard:hover {
    border: 3px solid #0C0F0A;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}


.tarjeta {
    background-color: #1D201F;
    color: #DDD5D0;
    border-bottom: 1px solid #00A676;
    border-left: 1px solid #00A676;
    border-right: 1px solid #00A676;
    border-top: 1px solid #00A676;
    border-radius: 5px;
}

hr {
    border: 3px solid #00A676;
}

/* Fin Main */

/* Inicio Footer */

footer {
    border-top: 2px solid #00A676;
    background-color: #0C0F0A;
}

.foot {
    display: flex;
    justify-content: space-evenly;
}

.ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
}

.footnav {
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

.textn:hover {
    color: #00A676;
}

.redes {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}
.logosred {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 250px;;
}

.red {
    height: 40px;
    width: 40px; 
}

.red:hover {
    transform: scale(1.5);
    transition: 2s;
}

.i, .l, .t {
    margin-left: 10px;
    margin-right: 10px;
}

.i, .t {
    margin-top: 30px;
}

.logotf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logot {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-top: 5px;
}

.logot:hover {
    transform: rotate(-360deg);
    transition: 1s;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.infotf {
    display: block;
    width: 250px;
}

.contacte {
    text-align: center;
}

.marca {
    display: flex;
    justify-content: center;
    background-color: #00A676;
    text-align: center;
    height: 25px;
}


/* Fin Footer */



/* Fin General */

/* Inicio Media queries */

@media only screen and (min-width : 993px) {


/* Inicio header */
    .navitems {
        justify-content: right;
    }

    .naver {
        background-color: #0C0F0A;
        border-top: 2px solid #00A676;
        border-bottom: 2px solid #00A676;
    }

    .navitems {
        font-size: 25px;
        color: #DDD5D0;
        background-color:#0C0F0A;
        --bs-navbar-color: #DDD5D0;
        --bs-navbar-hover-color: #DDD5D0;
        --bs-navbar-disabled-color: #DDD5D0;
        --bs-navbar-active-color: #DDD5D0;
        --bs-dropdown-link-color: #DDD5D0;
        --bs-dropdown-link-active-color: #0C0F0A;
        --bs-navbar-toggler-icon-bg: #DDD5D0;
    }

    .listw:hover {
        color: #00A676 !important;
    }

    .cate:active {
        color: #00A676;
    }


    .name:hover {
        color: #00A676;
    }
}

/* Fin header */


/* Celulares */

@media only screen and (min-width : 320px) {

    /* Inicio Header */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,166,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: #00A676;
    }

}

/* Fin Header */