

footer {

    background-color: map-get($map: $paleta, $key: "fondos");
    border-top: $borderfoot;

    div {
        .foot {
            display: flex;
            justify-content: space-evenly;
    
            .ayuda {
    
                @extend %flex-center;
                flex-direction: column;
                text-align: center;
                width: 300px;
    
                .footnav {
                    list-style: none;
                    text-decoration: none;
                    padding: 0px;

                    li {
                        padding: 10px 0;
                        
                    }

                    .textf {
                        list-style: none;
                        text-decoration: none;
                        @media only screen and (min-width : 320px) and (max-width : 993px) {
                            @include titulo-cel;
                        }
                    }
                    .textn {
                        font-family: $fuente-principal;
                        font-size: $size-fuente-p;
                        font-style: $estilo-fuente-p;
                        color: map-get($map: $paleta, $key: "primario");
                        @media only screen and (min-width : 320px) and (max-width : 993px) {
                            font-family: $fuente-principal;
                            font-size: 30px;
                            font-style: $estilo-fuente-p;
                        }

                        &:hover {
                            color: map-get($map: $paleta, $key: "secundario");
                        }

                    }
    
                }
            }
        }

        .redes {
    
            @extend %flex-center;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 385px;
    
            .logosred {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                width: 250px;
                .red {
                    height: 40px;
                    width: 40px;

                    @media only screen and (min-width : 993px) {
                        &:hover {
                            transform: scale(1.5);
                            transition: 2s;
                        }
                    }

                }
                .i {
                    margin: $margin-x;
                    margin-top: 40px;
                }
                .t {
                    margin: $margin-x;
                    margin-top: 40px;
                }
                .l {
                    margin: $margin-x;
                }
            }
            .logotf {
                @extend %flex-center;
                padding-top: 20px;
    
                .logot {
                    @extend %flex-center;
                    width: 100px;
                    height: 100px;
                    padding-top: 5px;

                    @media only screen and (min-width : 993px) {
                        &:hover {
                            transform: rotate(-360deg);
                            transition: 1s;
                        }
                    }
                }
            }
        }

        .info {
            @extend %flex-center;
            flex-direction: column;
            margin-top: 10px;
            width: 300px;

            .textf {
                text-decoration: none;
                font-family: $fuente-principal;
                font-style: $estilo-fuente-p;
                font-size: $size-fuente-p;
            }

            #info {
                cursor: default;
                
            }
            
            .infof {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $fuente-principal;
                font-size: $size-fuente-p;
                font-style: $estilo-fuente-p;
                color: map-get($map: $paleta, $key: "primario");
                @media only screen and (min-width : 320px) and (max-width : 993px) {
                    font-family: $fuente-principal;
                    font-size: 30px;
                    font-style: $estilo-fuente-p;
                }
            }

            .infotf {
                font-family: $fuente-principal;
                font-style: $estilo-fuente-p;
                font-size: $size-fuente-p;
                display: block;
                width: 300px;
                cursor: default;

                .contacte {
                    display: flex;
                    text-align: center;
                    font-family: $fuente-principal;
                    font-style: $estilo-fuente-s;
                    font-size: 20px;
                    color: map-get($map: $paleta, $key: "primario");
                    @media only screen and (min-width : 320px) and (max-width : 993px) {
                        font-family: $fuente-principal;
                        font-size: 15px;
                        font-style: $estilo-fuente-p;
                    }
                }
            }
        }

        .marca {

            @extend %flex-center;
            height: 25px;
            background-color: map-get($map: $paleta, $key: "secundario");

            .marca-propia {
                @extend %flex-center;
                font-family: $fuente-principal;
                font-style: $estilo-fuente-p;
                font-size: 15px;
            }
        }
    }

}