
// fondo pagina
body {
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTMyYWhjZWpiMGExYmFnd202OHFxbngwcjh0NXA5bnhwdjgxeWI3NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xVn3ZmKrKIOLS/giphy.gif);
}
// fin fondo pagina

//header 
header {
    background-color:  map-get($map: $paleta, $key: "fondos");
    @extend %h-f;
    .naver {
        background-color: map-get($map: $paleta, $key: "fondos");
        border-top: $borderfoot;
        border-bottom: $borderfoot;
        @media only screen and (min-width : 993px) {
            background-color: map-get($map: $paleta, $key: "fondos");
            border-top: $borderfoot;
            border-bottom: $borderfoot;
        }
        .logo {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;

            @media only screen and (min-width: 993px) {
                &:hover {
                    transform: rotate(-360deg);
                    transition: 1s;
                }
            }

            @media only screen and (min-width : 320px) and (max-width : 993px) {
                    width: 60px;
                    height: 60px;
            }
        }

        .name {
            margin-right: 0 !important;
            color: map-get($map: $paleta, $key: "primario");
            font-family: "atmo", sans-serif;
            font-size: $size-fuente-name;
            text-shadow: $shadow;

            &::first-letter {
                color: map-get($map: $paleta, $key: "secundario");
                font-size: $size-fuente-fletter;
                font-stretch: $stretch;
            }

            &:hover {
                color: map-get($map: $paleta, $key: "secundario");

            }

            @media only screen and (min-width : 993px) {
                padding-left: 20px;
            }

            @media only screen and (min-width: 320px) and (max-width: 993px) {
                font-size: $size-fuente-cel;
                text-shadow: $shadow;
                &::first-letter {
                    font-size: $size-fuente-p;

                }
            }
            
        }

        .navbar-toggler {
            @media only screen and (min-width : 320px) and (max-width : 993px){
                border:  map-get($map: $paleta, $key: "secundario");
            }
        }

        .navbar-toggler-icon {

            @media only screen and (min-width: 320px) and (max-width: 993px) {

                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,166,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

                
            }
        }

        .navitems {
            color: map-get($map: $paleta, $key: "primario");
            background-color: map-get($map: $paleta, $key: "fondos");

            @media only screen and (min-width: 993px) {
                justify-content: right;
                font-size: $size-fuente-s;
                background-color: map-get($map: $paleta, $key: "fondos");
            }

            @media only screen and (min-width : 320px) and (max-width : 993px) {
                justify-content: right;
                font-size: $size-fuente-cel;
            }

            .navname {
                color:map-get($map: $paleta, $key: "primario") !important;
                font-family: $fuente-principal;
                font-style: $estilo-fuente-p;
                font-size: $size-fuente-s;
                &:hover {
                    color:  map-get($map: $paleta, $key: "secundario") !important;
                }
                @media only screen and (min-width : 320px) and (max-width : 993px) {
                    font-family: $fuente-principal;
                    font-style: $estilo-fuente-p;
                    font-size: $size-fuente-cel;
                }
            }


            .listw {
                &:hover {
                    color:  map-get($map: $paleta, $key: "secundario");
                }
            }

            .cuadro {
                border: $borders;
            }
        }
    }
}

// fin header