@import "../base/variables";
@import "../base/listas";
@import "../base/mapas";
@import "../base/extends";
@import "../base/mixins";

body {
    background-color: $bg-color-principal;
}

header {
    background-color: $bg-color-tb;
    @extend %h-f;
    .naver {
        background-color: $bg-color-tb;
        border-top: $borderfoot;
        border-bottom: $borderfoot;
        @media only screen and (min-width : 993px) {
            background-color: $bg-color-tb;
            border-top: $borderfoot;
            border-bottom: $borderfoot;
        }
        .logo {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;

            @media only screen and (min-width: 993px) {
                &:hover {
                    transform: rotate(-360deg);
                    transition: 1s;
                }
            }

            @media only screen and (min-width : 320px) and (max-width : 993px) {
                    width: 60px;
                    height: 60px;
            }
        }

        .name {
            margin-right: 0 !important;
            color: $color-fuente;
            font-family: $fuente-name;
            font-size: $size-fuente-name;
            text-shadow: $shadow;

            &::first-letter {
                color: $color-hover;
                font-size: $size-fuente-fletter;
                font-stretch: $stretch;
            }

            &:hover {
                color: $color-hover;

            }

            @media only screen and (min-width : 993px) {
                padding-left: 20px;
            }
            @media only screen and (min-width: 320px) and (max-width: 993px) {
                font-size: $size-fuente-cel;
                text-shadow: $shadow;
                &::first-letter {
                    font-size: $size-fuente-p;

                }
            }
            
        }

        .navbar-toggler {
            @media only screen and (min-width : 320px) and (max-width : 993px){
                border: $color-hover;
            }
        }

        .navbar-toggler-icon {

            @media only screen and (min-width: 320px) and (max-width: 993px) {

                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,166,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

                
            }
        }

        .navitems {
            color: $color-fuente;
            background-color: $bg-color-tb;

            @media only screen and (min-width: 993px) {
                justify-content: right;
                font-size: $size-fuente-s;
                background-color: $bg-color-tb;
            }

            @media only screen and (min-width : 320px) and (max-width : 993px) {
                justify-content: right;
                font-size: $size-fuente-cel;
            }

            .navname {
                color:$color-fuente !important;
                font-family: $fuente-principal;
                font-style: $estilo-fuente-p;
                font-size: $size-fuente-s;
                &:hover {
                    color: $color-hover !important;
                }
                @media only screen and (min-width : 320px) and (max-width : 993px) {
                    font-family: $fuente-principal;
                    font-style: $estilo-fuente-p;
                    font-size: $size-fuente-cel;
                }
            }


            .listw {
                &:hover {
                    color: $color-hover;
                }
            }

            .cuadro {
                border: $borders;
            }
        }
    }
}
