
.containeer {
    padding: 50px 0;
    text-align: center;
    .reco {
        font-family: $fuente-principal;
        font-size: $size-fuente-p;
        font-style: $estilo-fuente-p;
        color: $color-fuente;
        line-height: 0.1rem;
        border-bottom: 2px solid lighten($color-hover, 50%);
        @media only screen and (min-width : 320px) and (max-width : 993px) {
            font-size: $size-fuente-cel;
        }
        span {
            padding: 0 1rem;
            background-color: $bg-color-principal;
        }
    }
    .cont-gen {
        padding: 50px 0;
        text-align: center;
        .genero-i {
            font-family: $fuente-name;
            font-size: $size-fuente-p;
            font-style: $estilo-fuente-p;
            color: $color-fuente;
            line-height: 0.1rem;
            border-bottom: 2px dashed saturate($intel-tittle, $amount: 100%);
            padding-top: 2rem;
            @media only screen and (min-width : 320px) and (max-width : 993px) {
                font-size: $size-fuente-s;
            }
            .bg-gen {
                padding: 0 1rem;
                background-color: $bg-color-principal;
                text-shadow: 1px 1px 14px $intel-tittle;

                
            }
        }
        .genero-a {
            font-family: $fuente-name;
            font-size: $size-fuente-p;
            font-style: $estilo-fuente-p;
            color: $color-fuente;
            line-height: 0.1rem;
            border-top: 2px dashed saturate($amd-tittle, $amount: 100%);
            padding-top: 0.1rem;
            @media only screen and (min-width : 320px) and (max-width : 993px) {
                font-size: $size-fuente-s;
            }
            .bg-gen {
                padding: 0 1rem;
                background-color: $bg-color-principal;
                border: 2px ca lighten($amd-tittle, $amount: 10%);
                text-shadow: 1px 1px 14px $amd-tittle;

            }
        }
    }
    .genero-line-i {
        display: block;
        line-height: 0.1rem;
        border-radius: 60px;
        border-bottom: 2px dashed saturate($intel-tittle, $amount: 100%);
        padding-top: 2rem;
    }
    
    .genero-line-a {
        display: block;
        line-height: 0.1rem;
        border-radius: 60px;
        border-bottom: 2px dashed saturate($amd-tittle, $amount: 100%);
        padding-top: 2rem;
    }

    .prod {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        text-align: center;

        .proc-conte {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            @media only screen and (min-width: 993px) and (max-width : 1386px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
            }

            @media only screen and (min-width : 320px) and (max-width : 993px) {
                grid-template-columns: repeat(1, 2fr);
                gap: 50px;
            }

            .prode {
                text-align: center;
                padding: 30px;
                width: 410px;
                cursor: pointer;
                @media only screen and (min-width: 993px) and (max-width : 1383px) {
                    width: 390px;
                    height: auto;
                }

                @media only screen and (max-width : 830px) and (min-width: 433px) {
                    width: 360px;
                }

                @media only screen and (max-width: 433px) {
                    width: 260px;
                }

                .fotoo {
                    width: 350px;
                    height: 350px;
                    margin-bottom: 20px;
                    filter: drop-shadow(0px 0px 10px $color-fuente);

                    &:hover {
                        transform: scale(1.09);
                        transition: 1s;
                        border-radius: 10px;
                    }

                    @media only screen and (min-width: 993px) and (max-width : 1386px) {
                        width: 330px;
                        height: auto;
                    }

                    @media only screen and (max-width : 830px) and (min-width: 433px) {
                        width: 300px;
                        height: 300px;
                    }

                    @media only screen and (max-width: 433px) {
                        width: 200px;
                        height: 200px;
                    }
                }

                .prod-txt {
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-left: 1px solid $color-hover;
                    border-right: 1px solid $color-hover;
                    .prod-name {
                        font-family: $fuente-principal;
                        font-size: $size-fuente-s;
                        text-align: center;
                        color: $color-fuente;
                        @media only screen and (min-width : 320px) and (max-width : 993px) {
                            font-size: $size-fuente-cel;
                        }
                    }
                    .precc {
                        filter: drop-shadow(0px 0px 10px $color-hover);
                        text-align: center;
                        @extend %txtsec;
                        color: $color-hover;
                    }
                }
                
            }
        }
    }
}